/**
 * Variables and animations
 */
:root {
    --col-count: 9;
    --row-count: 9;
    --space-size: 3.4rem;
    --black: #000000;
    --white: #ffffff;
    --gray: #777777;
    --bg-color: #eae7d2;
    --primary: #333333;
}

@keyframes slidedown {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

.slidedown {
    animation-name: slidedown;
    animation-duration: 1s;
    animation-timing-function: ease;
    transform-origin: center;
}


/**
 * Basic elements and UI layout
 */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--primary);
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
}

main {
    padding: 0.5rem 1.5rem;
}

button {
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
}

h1, h2 {
    font-weight: normal;
    margin: 1.5rem 0;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

#newGameBtn {
    display: block;
    margin: 0 auto 1rem;
}

.option-list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 22rem;
}

.inset {
    padding-left: 1.5rem;
}

.input-row {
    display: flex;
    justify-content: space-between;
}
.input-row input[type="number"] {
    width: 5rem;
}
.input-row *:first-child {
    margin-right: 1rem;
}

#game-result-wrapper {
    display: none;
    left: 50%;
    max-width: 50rem;
    position: absolute;
    top: 15%;
    transform: translateX(-50%);
    width: 100%
}

#game-lost-popup, #game-won-popup {
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    display: none;
    padding: 0 1.5rem 1.5rem;
    text-align: center;
}

#game-lost-popup {
    background-color: #ffcccc;
    border-color: #aa0000;
}

#game-won-popup {
    background-color: #ccffcc;
    border-color: #00aa00;
}

@media screen and (min-width: 769px) {
    main {
        display: flex;
    }

    .group1 {
        flex: 1;
        order: 2;
    }

    #game-options {
        order: 1;
        margin-top: 10rem;
    }
}

/**
 * Game element styling
 */
#game-grid {
    border: 0.3rem solid var(--gray);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    height: calc(var(--row-count) * var(--space-size) + 0.6rem);
    margin: 0 auto 2rem;
    width: calc(var(--col-count) * var(--space-size) + 0.6rem);
}

.kitty-space {
    background-color: #bbbbbb;
    border-color: var(--black);
    border-radius: 0;
    border-style: outset;
    border-width: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: bold;
    height: var(--space-size);
    margin: 0;
    padding: 0;
    width: var(--space-size);
}
.kitty-space.cleared {
    background-color: #eeeeee;
    border-style: solid;
    border-width: 0.1rem;
}
.kitty-space.hit {
    background-color: #ff0000;
}
.kitty-space.count1 {
    color: #3377aa;
}
.kitty-space.count2 {
    color: #cc9900;
}
.kitty-space.count3 {
    color: #33aa33;
}
.kitty-space.count4 {
    color: #dd5500;
}
.kitty-space.count5 {
    color: #aaaa00;
}
.kitty-space.count6 {
    color: #3333aa;
}
.kitty-space.count7 {
    color: #77aa33;
}
.kitty-space.count8 {
    color: #ff0000;
}
